{% extends 'base.html' %}
{% load static %}

    {% block metadescription %}
            Searched Products...
    {% endblock %}

    {% block title %}
       Search
    {% endblock %}

    {% block body %}
        <div class=" text-center my_search">
          <p> You have searched for : <b>{{query}}</b></p>
        </div>
        <div class="container">
            <div class="row mx_auto">
                {% for product in products %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-dm-12 col-lg-4">
                    <div class="card text-center" style="min-width:10rem; ">
                        <a href="{{ product.get_url }}"><img class="card_img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                        <div class="card body">
                            <h4>{{product.name}}</h4>
                             <p>{{product.price}}</p>
                        </div>
                     </div>
                </div>
                <div>
                    {% empty %}
                    <p class="text-center my_search"> 0 results found </p>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}