{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-image: url({% static 'images/about.jpg'%})">
<form action="login" method="post" >
    {% csrf_token %}
    <div>LOGIN</div>
        <div>
            <h2>Username:<input type="text" name="username" placeholder="enter the username"></h2>
            <h2>Password:<input type="password" name="password" placeholder="enter the password"></h2>
            <input type="submit">
        </div>
</form>

{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>