{% extends 'base.html'%}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" src="{{film.img.url}}" alt="Card image cap" height="250x">
            </div>
        </div>
            <div class="col-md-6">
                <div class="card-body">
                         <h5 class="card-title">{{film.id}}.{{film.name}}</h5>
                         <p class="card-text"> {{film.des}}</p>
                         <p class="card-text"><h6>Release Date</h6>{{film.year}}</p>
                         <a href="{% url 'movieapp:update' film.id %}" class="btn btn-danger">Update</a>
                         <a href="{% url 'movieapp:delete' film.id %}" class="btn btn-danger">delete</a>
                </div>
            </div>
    </div>
</div>


{% endblock %}